html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white-color;
  @extend %ubuntu-300;
  font-size: 17px;
  line-height: 1.5;
  color: $white-color;
  position: relative;
  overflow-x: hidden;
}

.page-section {
  background-image: url(../images/main-bg.jpg);
  @extend %img-style;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: radial-gradient(
      45.97% 102.87% at -45.97% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0) 50.29%,
      rgba(4, 5, 5, 0.82) 58.72%,
      rgba(5, 5, 6, 0.79) 80.08%,
      #000 87.89%
    );
    opacity: 0.4;
  }
  &__wrapper {
    min-height: 100vh;
    position: relative;
    padding: 74px 0 50px;
    z-index: 1;
  }
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  @extend %ubuntu-400;
  font-size: 44px;
  line-height: 53px;
  padding-left: 25px;
}

.section-subtitle {
  @extend %ubuntu-700;
  font-size: 21px;
  margin-bottom: 10px;
}

.scroll {
  width: fit-content;
  padding: 13px 0 40px;
  position: absolute;
  display: inline-block;
  text-align: center;
  right: 0;
  left: 50%;
  bottom: 0;
}

.contacts {
  display: flex;
  gap: 50px;
  width: fit-content;
  &__item {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__link {
    opacity: 0.5;
    transition: opacity 0.3s;
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
  &__link-img {
    @extend %img-style;
    width: 40px;
    height: 40px;
  }
}

.link-style {
  border-radius: 3px;
  border: 1px solid $white-color;
  transition: color 0.3s, background-color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: $white-color;
      color: #000000;
    }
  }
}
