.body {
  background-color: $white-color;
  @extend %ubuntu-300;
  font-size: 17px;
  line-height: 1.5;
  color: $white-color;
}

.container {
  max-width: 1195px;
  padding: 0 15px;
  margin: 0 auto;
}
