html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white-color;
  @extend %ubuntu-300;
  font-size: 17px;
  line-height: 1.5;
  color: $white-color;
  position: relative;
}

.page-section {
  min-height: 100vh;
  background-image: url(../images/main-bg.jpg);
  @extend %img-style;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 150px 15px 50px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  @extend %ubuntu-400;
  font-size: 44px;
}

.section-subtitle {
  @extend %ubuntu-700;
  font-size: 21px;
}

.scroll {
  margin: 0 auto;
  width: fit-content;
  left: -50%;
  transform: translateX(50%);
  bottom: 40px;
}

.contacts {
  display: flex;
  gap: 50px;
  width: fit-content;
  &__item {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__link-img {
    @extend %img-style;
    width: 40px;
    height: 40px;
  }
}
