$white-color: #ffffff;
$black_btn-color: #1c1c1c;
$black-color: #000000;

%ubuntu-500 {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

%ubuntu-700 {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

%ubuntu-300 {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

%ubuntu-400 {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

%img-style {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

$breakpoints: (
  "desktop": 1230px,
  "tablet-2": 992px,
  "tablet": 768px,
  "phone": 560px,
);
