@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";
@import "media";

.header {
  z-index: 5;
  color: $white-color;
  @extend %ubuntu-500;
  position: relative;
  text-transform: uppercase;
  &__inner {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    padding-top: 47px;
    background-color: transparent;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
  }
  .logo {
    margin-right: 11px;
  }
  &__list {
    display: flex;
    gap: 20px;
  }
  .contacts {
    display: flex;
    gap: 30px;
    margin: 0 auto;
  }
  &__info {
    @extend %ubuntu-700;
    font-size: 16px;
  }
  &__buy {
    color: $white-color;
    padding: 7px 28px;
    border-radius: 3px;
    border: 1px solid $white-color;
    margin-right: 8px;
    cursor: pointer;
  }
  &__tel {
    line-height: 18px;
  }
}

.hero {
  height: 100vh;
  @extend %img-style;
  color: $white-color;
  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }
  &__title {
    @extend %ubuntu-700;
    font-size: 96px;
    margin-bottom: 25px;
    text-align: center;
  }
  &__drone {
    @extend %img-style;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  &__description {
    max-width: 325px;
    width: 100%;
    margin: 0 auto 35px;
    text-align: center;
  }
  .contacts {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 13px;
  }
}

.about {
  position: relative;
  .section-title {
    margin-bottom: 55px;
  }
  &__content {
    padding-left: 30px;
    max-width: 440px;
    width: 100%;
  }
  &__text:not(:last-of-type) {
    margin-bottom: 30px;
  }
  &__slider-box {
    position: absolute;
    right: 0;
    top: 40%;
    width: fit-content;
  }
  &__slider-text {
    @extend %ubuntu-500;
    max-width: 281px;
    width: 100%;
    font-size: 24px;
    text-align: right;
    position: absolute;
    z-index: 1;
    left: -253px;
    bottom: 59px;
  }
  &__slider {
    width: fit-content;
    position: relative;
    &::after {
      content: "";
      width: 564px;
      height: 280px;
      position: absolute;
      z-index: 0;
      top: 10px;
      left: 17px;
      z-index: -1;
      border: 4px solid $white-color;
    }
  }
  .slick-slider {
    max-width: 640px;
    width: 100%;
  }
  &__item {
    width: fit-content;
  }
  &__img {
    max-width: 560px;
    height: auto;
    width: 100%;
    @extend %img-style;
  }
}

.benefits {
  z-index: -2;
  .section-title {
    margin-bottom: 55px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__img-box {
    margin-right: 32px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      border: 2px solid $white-color;
      width: 195px;
      height: 130px;
      z-index: -1;
      top: -10px;
      left: 10px;
    }
  }
  .section-subtitle {
    max-width: 205px;
    width: 100%;
  }
  &__text {
    max-width: 300px;
    width: 100%;
  }
}

.characteristics {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    max-width: 280px;
    width: 100%;
  }
}

.questions {
  .section-title {
    margin-bottom: 38px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding-right: 319px;
  }
  &__item {
    background-color: #5e5e57;
    max-width: 690px;
    width: 100%;
    padding: 20px 40px 24px;
    position: relative;
    padding-right: 67px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/logo/arrow-down.svg);
      right: 0;
      bottom: 0;
      width: 67px;
      height: 100%;
      padding: 30px 24px;
      background-color: $white-color;
      @extend %img-style;
      background-size: inherit;
    }
  }
  &__subtitle {
    @extend %ubuntu-500;
    font-size: 21px;
    line-height: 1.32;
    opacity: 0.8;
  }
  &__text {
    display: none;
  }
  &__img {
    position: absolute;
    right: 18%;
    bottom: 47%;
  }
}

.footer {
  .container {
    position: relative;
  }
  .section-title {
    margin-bottom: 56px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 136px;
  }
  &__form {
    max-width: 570px;
    width: 100%;
  }
  &__form-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__form-text {
    margin-bottom: 13px;
  }
  &__form-input {
    max-width: 280px;
    width: 100%;
    padding: 15px;
  }
  &__contacts {
    max-width: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__form-textarea {
    width: 100%;
    height: 144px;
    margin-bottom: 20px;
  }
  &__form-btn {
    color: $white-color;
    text-transform: uppercase;
    @extend %ubuntu-700;
    padding: 9px 15px;
  }
  .section-subtitle {
    margin-bottom: 13px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  &__copy {
    position: absolute;
    right: 0;
    @extend %ubuntu-300;
    font-size: 13px;
    line-height: 1.3;
    opacity: 0.64;
  }
}
